@font-face {
    font-family: "Sentient";
    src: url("Sentient-Variable.ttf") format('truetype'),
         url("Sentient-Variable.woff") format('woff'),
         url("Sentient-Variable.woff2") format('woff2');
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: normal; */
}


/*Cosas generales*/
h1{
    font-family: 'Sentient';
    width: 48%;
    font-size: 16rem;
    font-weight: 400;
    color: white;
}
b{
    font-weight: 500;
}


/**/
header{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 10vh;
    cursor: pointer;
}

section{
    width: 100vw;
    height: 100vh;
    position: absolute;
}



/*-------------ROAD------------*/

#road{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 380vh;
    overflow: hidden;
    background-color: #4DD19F;
    transition: 1s;
}
#nombres{
    right: 12%;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
#nombres h4{
    font-family: 'Sentient';
    color:white;
    font-size: 1.3rem;
    font-weight: 100;
}
.divLinea{
    position: absolute;
    z-index: -1;
    display: flex;
    align-self: center;
    width: 95%;
    height: 100%;
    margin-top: -3vh;
}
#state{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 64vw;
    margin-left: 15vw;
    margin-top: 27vh;
}
h3{
    font-family: "Sentient";
    color: white;
    font-size: clamp(4rem,7.5vw,8rem);
}
#infoState{
    font-size: clamp(0.5rem,1.5vw,1.4rem);
    margin-top: -5%;
    margin-left: 3%;
}
#text{
    font-size: clamp(1rem,2.5vw,2rem);
    width: 70%;
    margin-left: 4%;
}
#caracteristicas{
    margin-bottom: 4%;
    margin-left: 4%;
}
#button{
    cursor: pointer;
    transition: 1s;
    background: #ffffff00;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    text-decoration: none;
    border: solid white;
    margin-left: 4%;
}
#button:hover{
    transition: 1s;
    background: white;
    color: black;
}

.linea{
    align-items: center;
    width: 100%;
    height: fit-content;
}




/*-------------PUBLICACIÓN------------*/
#post{
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color:#FFEBD1;
    height: auto;
    opacity: 1;
}

.heroImage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estado{
    margin-bottom: -5%;
    font-family: 'Sentient';
    font-size: 10rem;
    margin-left: -16px;
    color: black;
}
.subtitulo{
    font-weight: 200;
    font-size: 5rem;
}
#silueta{
    position: absolute;
    width: 33%;
    z-index: -1;
    margin-left: 35%;
}

#detalles{
   width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition:1s;
    overflow: hidden;
}
.dTitulo{
    width: 48%;
    font-size: 16rem;
    font-weight: 300;
    color: white;
}
.dTexto{
    padding: 20px;
    font-size: 2rem;
}

.population{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.datos{
    margin-left: 5%;
    font-weight: 500;
}
.population img{
    opacity: 1;
    z-index: -1;
    position: absolute;
    width: 20%;
    margin-left: 38%;
    margin-top: 4%;
}

.foto{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12%;
    overflow: hidden;
}
.foto img{
    width: 80%;
}
.foto h1{
    margin-top: -810px;
    color: white;
    position: relative;
    right: -25%;
}



.destacado{
    margin-left: 7%;
    font-size: 3rem;
    width: 45%;
    padding: 1% 0;
}
.textos{
    margin-left: 7%;
    font-size: 1.6rem;
    width: 45%;
    padding: 1% 0;
    position: relative;
    z-index: 2;
}
.imgs{
    width: 45%;
    margin-left: 7%;
}

#animado{
    position: sticky;
    top: 20%;
    text-align: right;
    padding: 10% 5%;
    display: flex;
    justify-content: end;
}

#animado h4{
    font-family: 'Sentient';
    font-size: 2rem;
    font-weight: 300;
}
.todaLinea{
    width: 40%;
    background-color: white;
    height: 100%;
    margin-left: 15%;
}
.carretera{
    width: 3%;
    display: flex;
}
.todosTrozos{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.trozoRoad{
    background-color: white;
    width: 100%;
    height: 16%;
    margin: auto;
    margin: 27% 0;
    opacity: 0;
    transition: 0.5s;
}


.publi{
    padding: 200px 0;
}
.publi h1{
    line-height: 200px;
    margin-bottom: -5%;
}
.publi img{
    position: relative;
    top: -70px;
    /* margin-top: -70px; */
    right: 137px;
}

.calico h1{
    margin-bottom: -25.5%;
}
.bottle h1{
    margin-bottom: -25.5%;
}




/*Estados*/

footer{
    height: 10vh;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 50%;
    background:radial-gradient(circle, rgba(255,255,255,0.738532913165266) 0%, rgba(0,0,0,0) 50%);
}

#estates{
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    opacity: 1;
}
.illinois #silueta{
    z-index: 0;
    width: 26%;
}
.illinois .textos{
    position: absolute;
    z-index: 1;
}
.illinois{
    background-color: #4DD19F;
}
.misu{
    background-color: #74D09F;
}
.kansas{
    background-color: #7FBD80;
}
.okla{
    background-color: #BFBC69;
}
.texas{
    background-color: #FBD294;
}
.newM{
    background-color: #F9C5A8;
}
.newM #silueta{
    width: 26%;
}
.arizona{
    background-color: #FCDAB1;
}
.arizona #silueta{
    width: 26%;
}





#tuGirao{
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.968);
    color: white;
}
#tuGirao h1{
    margin-top: 70%;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    color: white;
}
#tuGirao img{
    width: 9%;
    margin-top: 76%;
    margin-left: 45%;
    position: fixed;
}
@media (max-width:750px) {
    #tuGirao{
        display: flex;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
}
